image: node:14.15

definitions:
  caches:
    npm: ~/.npm

pipelines:
  branches:
    issue/*:
      - step:
          name: Build
          script:
            - npm i
            - npm run build
    master:
      - step:
          name: Sync with Github
          script:
            - (umask  077 ; echo $GITHUB_SSH_KEY | base64 --decode > ~/.ssh/id_rsa)
            - git remote add origin_github git@github.com:Atlassian-integrations/polaris-forge-ref-app.git
            - git pull origin_github master
            - git push -u origin_github master
      - step:
          name: Deploy staging
          deployment: staging
          caches: [npm]
          script:
            - npm i -g @forge/cli --unsafe-perm=true --allow-root
            - npm ci
            - npm run manifest:ci
            - forge deploy -e $FORGE_ENV --no-verify --verbose
            - npm run externalAuth:set -- --email $FORGE_EMAIL --api-token $FORGE_API_TOKEN --forge-app-id $FORGE_APP_ID --forge-env $FORGE_ENV --service-key $PROVIDER_SERVICE_KEY --client-id $PROVIDER_CLIENT_ID --client-secret $PROVIDER_CLIENT_SECRET --api-private-graphql-url $FORGE_GRAPHQL_GATEWAY
      - step:
          name: Deploy production
          deployment: production
          trigger: manual
          caches: [npm]
          script:
            - npm i -g @forge/cli --unsafe-perm=true --allow-root
            - npm ci
            - npm run manifest:ci
            - forge deploy -e $FORGE_ENV --no-verify --verbose
            - npm run externalAuth:set -- --email $FORGE_EMAIL --api-token $FORGE_API_TOKEN --forge-app-id $FORGE_APP_ID --forge-env $FORGE_ENV --service-key $PROVIDER_SERVICE_KEY --client-id $PROVIDER_CLIENT_ID --client-secret $PROVIDER_CLIENT_SECRET